body{
    font-family: tahoma;
}

/* background color */
.bg-gray{background-color: #b8b8b8;}
.bg-teal{background-color: #66d1a3;}
.bg-orange{background-color: #ff9e3c;}

/* background color with opacity */
.bg-blue-100{
    background-color: blue;
}

.bg-blue-75{
    background-color: blue;
    opacity: 0.75;
}

.bg-blue-50{
    background-color: blue;
    opacity: 0.5;
}

.bg-blue-25{
    background-color: blue;
    opacity: 0.25;
}

/* background color with opacity (without affecting text) */
.bg2-blue-100{background-color: blue;}

.bg2-blue-75{background-color: rgba(0, 0, 255, 0.75);}

.bg2-blue-50{background-color: rgba(0, 0, 255, 0.5);}

.bg2-blue-25{background-color: rgba(0, 0, 255, 0.25);}