body{
    font-family: tahoma;
}

/* background image  */

.bg-img{
    background-image: url('../../\(00\)_CSS_asset/paper.png');
}

.bg-img2{
    background-image: url('../../\(00\)_CSS_asset/mountain.png');
}
