.ignore{
    display: flex;
    padding: 25px;
}

.fixed {
    background-image: url('https://dummyimage.com/400x200/d9d9d9/000000.png&text=Fixed');
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
    width: 50%;
  }

.scroll {
    background-image: url('https://dummyimage.com/400x200/d9d9d9/000000.png&text=Scrollable');
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    width: 50%;
  }