/* shorthand required in order (ignore if you dont need)
background-color,
background-image,
background-repeat, 
background-attachment, 
background-position, 
Separate this with "/" symbol
background-size, 
background-origin 
background-clip */

.shorthand{
    background: #525252 url('../../\(00\)_CSS_asset/paper.png') no-repeat scroll top center / contain;
    height: 200px;
    text-align: center;
}